{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Seu Site{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        azul: {
                            claro: '#C5DFFF',
                            escuro: '#061E3C',
                            hover: '#1057B0'
                        },
                    },
                    fontFamily: {
                        inter: ['Inter', 'sans-serif'],
                    },
                },
            },
        };
    </script>
    <script src="{% static 'iot/js/script.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>





    {% block extra_head %}{% endblock %}
</head>

<body class="bg-azul-claro text-azul-escuro font-inter">

    <!-- Menu de navegação -->

    {% include 'iot/partials/_menu.html' %}


    <!-- Conteúdo da página -->
    <div class="container mx-auto mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Rodapé -->
    {% include 'iot/partials/_rodape.html' with year=year %}
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</body>

</html>