{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Seu Site{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        cores: {
                            azure: ' #F0FFFF',
                            escuro: '#061E3C',
                            cinza: '#111827',
                            hover: '#1057B0'
                        },
                    },
                    fontFamily: {
                        inter: ['Inter', 'sans-serif'],
                    },
                },
            },
        };
    </script>
    <script src="{% static 'iot/js/script.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>





    {% block extra_head %}{% endblock %}

</head>

<body class="bg-cores-azure text-cores-escuro font-inter">

    <!-- Menu de navegação -->

    {% include 'iot/partials/_menu.html' %}


    <!-- Conteúdo da página -->
    <div class="container mx-auto mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Rodapé -->
    {% include 'iot/partials/_rodape.html' with year=year %}
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>

    {% if user.is_authenticated %}

    <!-- Script do ícone de favoritos -->
    <!-- <script>
        $(document).ready(function () {
            $(".favorite-button").on("click", function (event) {
                event.preventDefault(); //evita o comportamento padrão de um link 

                // obtém o cardId e o ícone do coração associado ao botão.
                const cardId = $(this).data("card-id");
                const heartIcon = $(`.heart-icon[data-card-id="${cardId}"]`);

                // Alternar a classe de ícone do coração
                heartIcon.toggleClass("far").toggleClass("fas");

                // Fazer uma solicitação AJAX para adicionar/remover dos favoritos
                $.ajax({
                    type: "GET",
                    url: `/add_to_favorites/${cardId}/`,
                    dataType: "json",
                    success: function (data) {
                        // Redirecionar para a página inicial após o sucesso da solicitação

                        // alert("Adicionado aos Favoritos");
                        console.log('Adicionado aos Favoritos', data);
                    },
                    error: function (error) {
                        // alert("Deu erro");
                        console.error("Erro ao adicionar/remover dos favoritos:", error);
                    },
                });
            });
        });
    </script> -->
    {% endif %}
</body>

</html>