<!DOCTYPE html>

<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Inclua os estilos do Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">

  <div class="max-w-md w-full space-y-8 bg-cores-escuro">
    
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Cadastro</h2>
    </div>
    
    <form class="mt-8 space-y-6" method="POST">
      {% csrf_token %}
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="username" class="sr-only">Nome de Usuário</label>
          <input id="username" name="username" type="text" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Nome de Usuário">
        </div>
        <div>
          <label for="email" class="sr-only">Email</label>
          <input id="email" name="email" type="email" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Email">
        </div>
        <div>
          <label for="password" class="sr-only">Senha</label>
          <input id="password" name="password" type="password" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Senha">
        </div>
      </div>

      <div>
        <button type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Cadastrar
        </button>
      </div>
    </form>
    <div class="text-center">
      <p class="mt-2 text-sm text-gray-600">
        Já tem uma conta? <a href="{% url 'login' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
          Faça Login
        </a>
      </p>
    </div>
  </div>
</body>

</html>