<!DOCTYPE html>

<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <script src="https://cdn.tailwindcss.com"></script>

  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            cores: {
              escuro: '#061E3C',
            },
          },
          fontFamily: {
            inter: ['Inter', 'sans-serif'],
          },
        },
      },
    };
  </script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<body class="bg-gray-200 flex items-center justify-center h-screen">

  <div class="bg-cores-escuro p-8 rounded shadow-2xl w-96">

    <h2 class="text-center text-3xl font-inter text-gray-100">Cadastro</h2>

    <form class="space-y-6" method="POST">
      {% csrf_token %}

      <div>

        <!--Usuário-->
        <div class="mb-2">
          <label for="username" class="sr-only">Usuário</label>
          <input id="username" name="username" type="text" required
            class="appearance-none relative block w-full px-3 py-2 border border-gray-300 rounded-t-lg placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Usuário" autocomplete="username" />
          {% if form.username.errors %}
          <h2 class="text-white">{{ form.username.errors }}</h2>
          {% endif %}
        </div>

        <!--Email-->
        <div class="mb-2">
          <label for="email" class="sr-only">Email</label>
          <input id="email" name="email" type="email" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Email" autocomplete="email" />
          {% if form.email.errors %}
          <h2 class="text-white">{{ form.email.errors }}</h2>
          {% endif %}
        </div>

        <!--Senha-->
        <div class="mb-2">
          <label for="password1" class="sr-only">Senha</label>
          <input id="password1" name="password1" type="password" required
            class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Senha" autocomplete="new-password" />
          {% if form.password1.errors %}
          <h2 class="text-white">{{ form.password1.errors }}</h2>
          {% endif %}
        </div>

        <!--Confirmar Senha-->
        <div class="mb-6">
          <label for="password2" class="sr-only">Confirmar Senha</label>
          <input id="password2" name="password2" type="password" required
            class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-lg focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Confirmar Senha" autocomplete="new-password" />
          {% if form.password2.errors %}
          <h2 class="text-white">{{ form.password2.errors }}</h2>
          {% endif %}
        </div>

        <!-- Botão de login -->
        <div>
          <button type="submit"
            class="group relative w-full flex justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-indigo-500">
            Cadastrar
          </button>
        </div>
    </form>

    <div class="text-center">
      <p class="mt-1 text-sm text-gray-400">
        Já tem uma conta? <a href="{% url 'login' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
          Faça Login
        </a>
      </p>
    </div>
  </div>
</body>

</html>