{% extends 'iot/base.html' %}
{% load static %}


{% block content %}
<main class="container mx-auto mt-4 ">
  <div class="max-w-screen-lg mx-auto text-justify fontFamily-inter bg-white bg-opacity-80 p-4 shadow-lg rounded-lg">

    <h1 class="text-3xl font-bold fontFamily-inter text-center">{{ card.titulo }}</h1>
    <img src="{{ card.imagem_principal_conteudo.url }}" alt="{{ card.titulo }}" class="my-4 w-full rounded-lg">

    <div>
      <h1 class="font-bold mt-4 mb-4">Introdução</h1>
      <p>
        {{ card.introducao }}
      </p>
      <h1 class="font-bold mt-4 mb-4">Lista de Materiais necessários</h1>

      <!-- TABELA -->
      <table class="table-auto">
        <thead> <!-- cabeçalho da tabela-->
          <tr>
            <th class="px-4 py-2">Item</th> <!-- células do cabeçalho-->
            <th class="px-4 py-2">Material</th>
          </tr>
        </thead>
        <tbody> <!-- Corpo da Tabela -->
          {% for material in card.materiaisexperimento_set.all %}
          <tr> <!-- linha -->
            <td class="border px-4 py-2">{{ forloop.counter }}</td> <!-- Célula -->
            <td class="border px-4 py-2">{{ material.material }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div>
      <h1 class="font-bold mt-4 mb-4">Código do Experimento</h1>
      <p>{{ card.descricao_codigo }}</p>

      <div class="max-w-lg">
        <div class="bg-gray-800 p-4 rounded-lg mt-6 overflow-auto">
          <pre class="text-white whitespace-pre-wrap">{{ card.codigo }}</pre>
        </div>


      </div>
    </div>



    <div>
      <h1 class="font-bold mt-4 mb-4">Passo a Passo do Circuito</h1>

      <!-- TABELA -->
      <table class="table-auto">
        <thead>
          <tr>
            <th class="px-4 py-2">Passo</th>
            <th class="px-4 py-2">Descrição</th>
          </tr>
        </thead>
        <tbody>
          {% for circuito in card.circuito_set.all %}
          <tr>
            <td class="border px-4 py-2">{{ forloop.counter }}</td>
            <td class="border px-4 py-2">{{ circuito.passo_a_passo_circuito }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <h1 class="font-bold mt-4 mb-4">Circuito Montado</h1>
    <p>{{ card.conclusao }}</p>
    <img src="{{ card.imagem_circuito.url }}" alt="{{ card.titulo }}" class="my-4 rounded-lg w-3/4">
  </div>



  <hr class="my-4">

  </div>
</main>
{% endblock %}