{% load static %}


<nav class="bg-cores-escuro">

    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 ">
        <!-- SLOGAN DO SITE -->
        <a href="{% url 'index' %}" class="flex items-center">
            <span class="self-center text-2xl text-white font-semibold whitespace-nowrap">Experimentando</span>
            <img src="{% static 'iot/imagens/icon.png' %}" class="h-14 ml-3" alt="Experimentando IoT" />
        </a>

        <!-- Circulo da foto -->
        <div class="flex items-center md:order-2">
            {% if user.is_authenticated %}
            <button type="button"
                class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-600"
                id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <!-- Substituindo a imagem pelo primeiro caractere do nome do usuário -->
                <div class="w-8 h-8 rounded-full bg-gray-700 text-white flex items-center justify-center">
                    {{ user.username|first|upper }}
                </div>
            </button>

            <!-- Conteudo dentro da foto -->
            <div class="z-50 hidden my-4 text-base list-none bg-cores-escuro divide-y divide-gray-600 rounded-lg shadow"
                id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-white">{{ user.username }}</span>
                    <span class="block text-sm text-gray-500 truncate">{{ user.email }}</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a href="{% url 'favorites' %}"
                            class="block px-4 py-2 text-sm text-gray-200 hover:bg-gray-600 hover:text-white">Meus
                            Favoritos</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"
                            class="block px-4 py-2 text-sm text-gray-200 hover:bg-gray-600 hover:text-white">Sign
                            Out</a>
                    </li>
                </ul>
            </div>

            <!--Quando não estiver logado (Quero mudar)-->
            {% else %}
            <a href="{% url 'login' %}"
                class="mr-3 text-sm bg-gray-900 rounded-full py-1 px-3 text-white hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-600">Login</a>
            <a href="{% url 'cadastro' %}"
                class="mr-3 text-sm bg-gray-900 rounded-full py-1 px-3 text-white hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-600">Cadastrar-se</a>
            {% endif %}

            <!--Botão do menu (Home, favoritos, contatos) - tela pequenas a medianas-->
            <!-- A classe md:hidden significa que o botão estará oculto em telas médias e grandes, ou seja, não será exibido em telas maiores. -->
            <button data-collapse-toggle="navbar-user" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-400 rounded-lg md:hidden hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600"
                aria-controls="navbar-user" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>

        <!-- A classe md:flex indica que essa lista estará visível em telas médias e grandes. -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
            <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-700 rounded-lg bg-cores-escuro md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-cores-escuro">

                <li> <!--Home-->
                    <a href="{% url 'index' %}"
                        class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500 md:p-0"
                        aria-current="page">Home</a>
                </li>
                <li class="border-r"></li>

                <li> <!--Favoritos-->
                    {% if user.is_authenticated %}
                    <a href="{% url 'favorites' %}"
                        class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500 md:p-0">Favoritos</a>
                    {% else %}
                    <a href="{% url 'login' %}"
                        class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500 md:p-0">Favoritos</a>
                    {% endif %}
                </li>
                <li class="border-r"></li>

                <li><!--Contato-->
                    {% if user.is_authenticated %}
                    <a href="{% url 'contato' %}"
                        class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500 md:p-0">Contato</a>
                    {% else %}
                    <a href="{% url 'login' %}"
                        class="block py-2 pl-3 pr-4 text-lg text-white rounded hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500 md:p-0">Contato</a>
                    {% endif %}
                </li>
            </ul>

            <!-- Barra de pesquisa -->
            <form class="ml-4 hidden lg:block" action="{% url 'buscar' %}">
                <input type="text" placeholder="Pesquisar..." name="buscar"
                    class="rounded-l-lg px-4 py-2 bg-white text-cores-escuro border border-white focus:outline-none drop-shadow ml-8">
                <button class="bg-cores-hover text-white px-4 py-2 rounded-r-lg hover:bg-cores-hover"
                    type="submit">Pesquisar</button>
            </form>
        </div>
    </div>
</nav>